{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'head.html' %}
    <style>
        #container {
            background-repeat: no-repeat;
            //background: url("{% static 'img/clasico-azul.png' %}") no-repeat bottom center fixed;
            background: url("{{ orla.modelo.url }}");
            background-size: 99% 95%;
            margin: 0 auto;
            width: 100%;
        }
    </style>

</head>

<body>
    <!-- NAVBAR Y VENTANAS MODALES DE MENÚ-->
    {% include 'menu.html' %} {% block content %}


    <!-- VENTANA MODAL PROFESOR -->
    {% for profesor in profesores %}
    <div class="modal" id="modal1{{ profesor.nombre }}" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ profesor.nombre }} {{ profesor.apellidos }}</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ profesor.imagen.url }}" style="float: left;" width="300"> {{profesor.descripcion}} <br>
                    <center><img src="{% static 'img/logo_pixelblack.png' %}" height="60"></center>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- VENTANA MODAL ALUMNOS -->
    {% for alumno in alumnos %}
    <div class="modal" id="modal2{{ alumno.nombre }}" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ alumno.nombre }} {{ alumno.apellidos }}</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ alumno.imagen.url }}" style="float: left;height:60;"> {{alumno.descripcion}} <br>
                    <center><img src="{% static 'img/logo_pixelblack.png' %}" height="60"></center>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- CONTENIDO DE LA ORLA: TITULOS Y PERSONAL-->
    <div id="container">
        {% include 'rotulos.html' %} {% if status == 'correcto'%}
        <div class="alert alert-success" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Correcto! </strong> el mensaje ha sido enviado correctamente.
        </div>
        <!--h5 class="correct_email">mensaje enviado correctamente</h5-->
        {% endif %} {% if status == 'incorrecto'%}
        <div class="alert alert-danger" id="danger-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Incorrecto! </strong> el mensaje no ha sido enviado, intente nuevamente.
        </div>
        <!--h2 class="incorrect_email">El mensaje no enviado, intentalo nuevamente.</h2-->
        {% endif %}
        <script type="text/javascript">
            $(document).ready(function() {

                window.setTimeout(function() {
                    $(".alert").fadeTo(1000, 0).slideUp(1000, function() {
                        $(this).remove();
                    });
                }, 4000);

            });
        </script>
        <!-- Video profesores -->
        {% for profesor in profesores %}
        <div id="Image_1">

            <a href="#" data-toggle="modal" data-target="#modal1{{ profesor.nombre }}">
                <video playsinline autoplay muted loop width="100%" poster="{{ profesor.imagen.url }}">
                <source src="{{ profesor.video.url }}" type="video/mp4">
                <source src="#" type="video/ogg">
				Su navegador no soporta video html5
			</video>
                <!--a href="#" data-toggle="modal" data-target="#modal1{{ profesor.nombre }}"-->
                <span>{{ profesor.nombre }} {{ profesor.apellidos }}</span>
            </a>
            <!--img src="{{ profesor.image.url }}" style="float: left;"-->
        </div>
        {% endfor %}

        <br>
        <!-- Vídeo Alumnos -->
        {% for alumno in alumnos %}
        <div id="Image_4">
            <a href="#" data-toggle="modal" data-target="#modal2{{ alumno.nombre }}">
                <video playsinline autoplay muted loop width="100%" poster="{{ alumno.imagen.url }}">
			    <source src="{{ alumno.video.url }}" type="video/mp4">
                <source src="#" type="video/ogg">
				Su navegador no soporta video html5
			    </video>
                <span>{{ alumno.nombre }} {{ alumno.apellidos }} </span>
            </a>
        </div>

        {% endfor %}
        <div class="margenInferior"></div> {% endblock %}

    </div>

    <!-- FIN CONTENIDO DE LA ORLA -->

    <!-- SCRIPTS FUNCIONES -->
    {% include 'footer.html' %}

</body>

</html>